---
const { title, description, url, image } = Astro.props;

let seoUrl = Astro.site + url;
let seoImageUrl = Astro.site + image;
---

<title>{title}</title>
<meta name="description" content={description} />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.svg" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={seoUrl} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={seoImageUrl} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={seoUrl} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={seoImageUrl} />

<!-- Cacheing -->
<meta http-equiv="Cache-control" content="no-cache" />
