---
import { getCollection } from "astro:content";
import { Footer, Navbar, TopicCard } from "../components/core";
import { Header } from "../components/resources";
import { ContentType, getContentType } from "../utils";
import Base from "../layouts/Base.astro";
import "./index.style.scss";

const metadata = {
  title: "Home",
  description: "tbd",
  url: "/",
  image: "/",
};

const topics = await getCollection("topics");
const resourcePages = await getCollection("resources");

const faqs = resourcePages.filter(
  (post: any) => getContentType(post.id) === ContentType.FAQ
);
let articles = resourcePages.filter(
  (post: any) => getContentType(post.id) === ContentType.ARTICLE
);

const iconMap = {
  "student-life": "fa fa-home",
  academics: "fa fa-graduation-cap",
  careers: "fa fa-briefcase",
  "self-learning": "fa fa-seedling",
  courses: "fa fa-book",
  faqs: "fa fa-lightbulb",
};

const colorSetMap = {
  "student-life": "red-card",
  academics: "green-card",
  careers: "blue-card",
  "self-learning": "orange-card",
  courses: "purple-card",
  faqs: "yellow-card",
};

articles.forEach((a) => {
  const t = topics.find((topic) => topic.id === a.data.topic.id);
  a.icon = t?.data.icon;
  a.color = t?.data.color + "-card";
});
---

<Base {metadata}>
  <div class="home-page">
    <!-- TODO: remove this demo margin -->
    <div style="margin-top:1.5rem"></div>
    <Navbar />
    <!-- TODO: remove this demo margin -->
    <div style="margin-top:8rem"></div>
    <Header />
    <!-- TODO: remove this demo margin -->
    <div style="margin-top:13rem"></div>
    <div class="home-page__container">
      <div class="home-page__cards">
        {
          articles.map((post: any) => (
            <a href={post.slug}>
              <TopicCard
                title={post.data.title}
                description={"Learn more by clicking this article ðŸ˜."}
                icon={post.icon}
                colorSet={post.color}
              />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</Base>
<!-- TODO: remove this demo margin -->
<div style="margin-top:7rem"></div>
<Footer />
